Options -Indexes
DirectoryIndex index.php index.html disabled

AddType text/html .html
AddHandler server-parsed .html
# Options Indexes FollowSymLinks Includes
AcceptPathInfo Off

ServerSignature Off
Header unset X-Powered-By

RewriteEngine On

# [LIVE] API
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} api/(.*)$
RewriteRule ^api/(.*)$ %{ENV:REWRITEBASE}api/route.php?request_url=$1&viewmode=live [QSA,NC,END]

# [PREVIEW] API
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} preview/api/(.*)$
RewriteRule ^preview/api/(.*)$ %{ENV:REWRITEBASE}api/route.php?request_url=$1&viewmode=preview [QSA,NC,END]
# VUE
# Options +FollowSymlinks
# RewriteEngine On

RewriteCond %{REQUEST_URI} ^(.*)$
RewriteRule ^/index\.html$ - [L,NC]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.html [L]

# Rewrite html as language folder
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# # RewriteCond %{REQUEST_URI} ^/html/((en|tc)+)/(.*)$
# RewriteRule ^((en|tc|sc)+)/(.*)$ html/$3?lang=$1 [QSA,NC,END]
